In [2]:
#Discription of a tuple
#Tuples are an ordred sequence 
#Tuples are written as COMMA-SEPRATED elements within ()

tuple1 = ("disco", 10, 1.2)

#Truple can include str, int, float in a () seprated by ,

type(tuple1)

tuple

In [ ]:
#Each element of a tuple can be accesed in the index
#Each element can be accesed using a [#] of index

Tuple1[0]:"disco"
Tuple1[1]: 10
Typle1[2]: 1.2

In [3]:
#In Python, index can be negative numbers

Tuple[-3]: "disco"
Tuple[-2]: 10
Tuple[-1]: 1.2

In [7]:
#combine (concatnate) tuples by adding

tuple2 = tuple1 + ("hard rock",10)

print (tuple2)

('disco', 10, 1.2, 'hard rock', 10)

In [23]:
#practice concatnating tuples 

tuple2 = tuple1 + ("Medi", 23)

print(tuple2)

('disco', 10, 1.2, 'Medi', 23)

In [24]:
#find the length of these charcters

len(tuple2)

5

In [25]:
#print tuple1 slice ('Medi', 23)

tuple2[3:5]

('Medi', 23)

In [36]:
# tuples are immutable and CANT change them so RATE them

Ratings = (10,9,6,5,10,8,9,6,2)

Ratings1 = Ratings 

print(Ratings1)

(10, 9, 6, 5, 10, 8, 9, 6, 2)

In [37]:
#If you want to change them use SORT

RatingsSorted = sorted(Ratings)

print(RatingsSorted)

[2, 5, 6, 6, 8, 9, 9, 10, 10]

In [44]:
#A tuple can also store multiple other tuples!
#Good for COMPLEX date types

NT = (1,2,("pop", "rock"), (3,4), ("disco") , (1,2))


print(NT)

(1, 2, ('pop', 'rock'), (3, 4), 'disco', (1, 2))

In [46]:
#You can access these tuples by using index [#]

#find length of NT
len(NT)

6

In [47]:
#print slice "((3,4), ("disco") , (1,2))"

print(NT[3:6])

((3, 4), 'disco', (1, 2))

In [65]:
#print slice "D" from "DISCO"

print(NT[4][0])

d

In [68]:
#print slice disco from NT

print(NT[4])

disco

In [70]:
# Lists (L) contain str, int, floats in [] seprated by ,

L = ["Ahmed Mahmoud", " AAI Consolidated Inc", 2014, 25,]

#find the length of the list

len(L)

4

In [71]:
#you can slice LISTS 

print(L[0:3])

['Ahmed Mahmoud', ' AAI Consolidated Inc', 2014]

In [74]:
#capital 'AAI Consolidated Inc' in the List

print(L[1].upper())

 AAI CONSOLIDATED INC

In [77]:
#capitalize both 'Ahmed Mahmoud' & 'AAI Consolidated Inc'

print(L[0].upper())

AHMED MAHMOUD

In [79]:
#you can combine lists my combine them with []

L1 = L + [" start of business"]

print(L1)

['Ahmed Mahmoud', ' AAI Consolidated Inc', 2014, 25, ' start of business']

In [88]:
#you can add to exsists list by 2 elements using .extend([])

L.extend(["Ferrari California", 2020])

print(L)

['Ahmed Mahmoud', ' AAI Consolidated Inc', 2014, 25, 'R', 'o', 'l', 'l', 's', ' ', 'R', 'o', 'y', 'c', 'e', ' ', 'P', 'h', 'a', 'n', 't', 'o', 'm', 'R', 'o', 'l', 'l', 's', ',', 'R', 'o', 'y', 'c', 'e', ',', 'P', 'h', 'a', 'n', 't', 'o', 'm', 'R', 'o', 'l', 'l', 's', 'R', 'o', 'y', 'c', 'e', 'P', 'h', 'a', 'n', 't', 'o', 'm', 'R', 'o', 'l', 'l', 's', ' ', 'R', 'o', 'y', 'c', 'e', ' ', 'P', 'h', 'a', 'n', 't', 'o', 'm', 'Rolls Royce Phantom', 'Rolls Royce Phantom', 'Ferrari California', 2020, 'Ferrari California', 2020]

In [89]:
#using .apend([])  adds ONE element to the List

L.append(["the best of the best"])

print(L)

['Ahmed Mahmoud', ' AAI Consolidated Inc', 2014, 25, 'R', 'o', 'l', 'l', 's', ' ', 'R', 'o', 'y', 'c', 'e', ' ', 'P', 'h', 'a', 'n', 't', 'o', 'm', 'R', 'o', 'l', 'l', 's', ',', 'R', 'o', 'y', 'c', 'e', ',', 'P', 'h', 'a', 'n', 't', 'o', 'm', 'R', 'o', 'l', 'l', 's', 'R', 'o', 'y', 'c', 'e', 'P', 'h', 'a', 'n', 't', 'o', 'm', 'R', 'o', 'l', 'l', 's', ' ', 'R', 'o', 'y', 'c', 'e', ' ', 'P', 'h', 'a', 'n', 't', 'o', 'm', 'Rolls Royce Phantom', 'Rolls Royce Phantom', 'Ferrari California', 2020, 'Ferrari California', 2020, ['the best of the best']]

In [92]:
#you can change each index in the list

car_list=[2020, "Ferrari", 2020, "Rolls Royce"]

print(car_list)

[2020, 'Ferrari', 2020, 'Rolls Royce']

In [93]:
#find the length of car_list

len(car_list)

4

In [95]:
#change the element 1 to "Mercedes"

car_list[1] = "Mercedes"

#print full list

print(car_list)

[2020, 'Mercedes', 2020, 'Rolls Royce']

In [96]:
#practice changing and adding elemnts in lists/strings/int/floats

lux_listDubai = [2020, 27, "Yacht" ,"g5 jet", "WE2020" ]

#extending list of lux_listDubai

lux_listDubai.extend(["Motionloft", "MCC"])

#confirm current lux_listDubai

print(lux_listDubai)

[2020, 27, 'Yacht', 'g5 jet', 'WE2020', 'Motionloft', 'MCC']

In [97]:
#Idnetify index # for "g5 jet" and change it to "global express"
#identify length 

len(lux_listDubai)

7

In [98]:
#confirm index # for "g5 jet"

print(lux_listDubai[3])

g5 jet

In [99]:
#change "g5 jet" to "global express"

lux_listDubai[3] = "Global Express"

#confrim change 
#print

print(lux_listDubai[3])

Global Express

In [100]:
#print new list
print(lux_listDubai)

[2020, 27, 'Yacht', 'Global Express', 'WE2020', 'Motionloft', 'MCC']

In [103]:
#append lux_listDubai and add "year of the century"

lux_listDubai.append(["year of the century"])

#confirm append
#print

print(lux_listDubai)

[2020, 27, 'Yacht', 'Global Express', 'WE2020', 'Motionloft', 'MCC', ['year of the century'], ['year of the century']]

In [104]:
#delete an element from the list us del command
#find length of new list

len(lux_listDubai)

9

In [112]:
#use del command to delete "year of the century"

del(lux_listDubai[5])

print(lux_listDubai)

[2020, 27, 'Yacht', 'Global Express', 'Motionloft']

In [113]:
#extend the element and add "2020" "historical year"

lux_listDubai.extend([2020, "historical year"])

#confirm extension
#print

print(lux_listDubai)

[2020, 27, 'Yacht', 'Global Express', 'Motionloft', 2020, 'historical year']

In [123]:
#use .split to split elements; split "Global Express"

"Global Express".split()

#confrim split
#print

['Global', 'Express']

In [125]:
#Aliasing is another name for the same list
#this is a good way for copying same lists

lux_listUSA = lux_listDubai

#confirm new list is the same value
#print

print(lux_listUSA)

[2020, 27, 'Yacht', 'Global Express', 'Motionloft', 2020, 'historical year']

In [126]:
#if you change a value in lux_listDubai it will change 
#in lux_listUSA
#in order to clone lux_listDubai use [:]

lux_listUSA = lux_listDubai[:]

#confrim list
#print

print(lux_listUSA)

[2020, 27, 'Yacht', 'Global Express', 'Motionloft', 2020, 'historical year']

In [128]:
#confirm clones by deleting an element in lux_listDubai

del(lux_listDubai[4])

#confrim deletion
#print

print(lux_listDubai)

[2020, 27, 'Yacht', 'Global Express', 2020, 'historical year']

In [130]:
#confrim lux_listUSA did not change
#print

print(lux_listUSA)

[2020, 27, 'Yacht', 'Global Express', 'Motionloft', 2020, 'historical year']

In [136]:
#to find the index number of a list or tuple use .index

lux_listDubai.index("Yacht")

2

In [132]:
#to learn more about typles & lists using help()

help(lux_listDubai)

Help on list object:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [135]:
#test

B = ["a", "b", "c"]

print(B[1:])

['b', 'c']

In [139]:
#Sets are types of collection
#sets are collections of different types of python types
#sets are unordered
#sets have only one unique element
#sets are used with {}

Set1= {'rock', 'trap','country','soul', 'rap', 'rock'}

#print to confirm set
print(Set1)

{'trap', 'country', 'soul', 'rock', 'rap'}

In [145]:
#you can convert lists to sets using function set() typecasting
#identify list

alub_list = ["Get Rich or Die Tryin", "Power of Dollar", "Get Rich or Die Tryin", 2000, 2002]

#use set()

album_set = set(alub_list)

#print album_set

print(album_set)

{2000, 2002, 'Get Rich or Die Tryin', 'Power of Dollar'}

In [150]:
#Set Operations can be used to change the set

ablum_set = {"thriller", "Back in Black", "AC/DC"}

#you can add item to a set using .add()

album_set.add("NYSYC")

#print new set

print(album_set)

{'NYSYC', 2000, 2002, 'Get Rich or Die Tryin', 'Power of Dollar'}

In [151]:
#you can also remove sets by using .remove()
#remove "Get Rich or Die Trying" from set

album_set.remove("Get Rich or Die Tryin")

#print set to confrim deletion

print(album_set)

{'NYSYC', 2000, 2002, 'Power of Dollar'}

In [ ]:
#if you add the same item it won't change anything!

In [157]:
#you can confrim an item in a set by using "in" in between
#answers will be True or False

"Power of Dollar" in album_set

True

In [169]:
#there are many mathemtical operations that can be done with sets

car_set_1 = {"Rolls Royce", "Ferrari", "Bentley"}

car_set_2 = {"Rolls Royce","Maybach", "BMW", "Range Rover"}

#overlap represents the new set
#define the union of the sets as & between 2 sets
#new set will create whats only in BOTH sets

car_set_3 = car_set_1 & car_set_2

#print new set

print(car_set_3)

{'Rolls Royce'}

In [171]:
#combine 2 sets together and create a new one use .union()

total_cars = car_set_1.union(car_set_2)

#print new set

print(total_cars)

{'BMW', 'Rolls Royce', 'Range Rover', 'Maybach', 'Ferrari', 'Bentley'}

In [172]:
#figure out if a set is a sub-set by .issubset()

total_cars.issubset(car_set_1)

False

In [173]:
total_cars.issubset(car_set_3)

False

In [174]:
car_set_2.issubset(total_cars)

True

In [1]:
#dictionaries are a type of collection in python
#like lists Index/Elemnet, dictionaries has Key/Values
#to create a dictionary creat {}
#keys have to be immutable and unique
#values can be immutable, mutable, duplicates
#each key and value pair is sperate by como


cars_Dubai = {"Lamborghini": 2020, "Rolls Royce":2020, "Range Rover": 2020}

#print year for "Lamborghini"

print(cars_Dubai["Lamborghini"])

2020

In [2]:
#you can add another key with value in the same variable

cars_Dubai["Mercedes Maybach"] = "2020"

#confrim addtion of new key/value
print(cars_Dubai["Mercedes Maybach"])

2020

In [7]:
#print full dictionary of cars_Dubai
print(cars_Dubai)

{'Lamborghini': 2020, 'Rolls Royce': 2020, 'Range Rover': 2020, 'Mercedes Maybach': '2020'}

In [14]:
#you can also del a key/value by using del

del(cars_Dubai["Range Rover"])

#confrim deletion

print(cars_Dubai)

{'Lamborghini': 2020, 'Mercedes Maybach': '2020'}

In [17]:
#add 2020 Rolls Royce in the dictionary

cars_Dubai["Rolls Royce"] = "2020"

#confrim additon

print(cars_Dubai)

{'Lamborghini': 2020, 'Mercedes Maybach': '2020', 'Rolls Royce': '2020'}

In [18]:
#you can find out if a key is in the dictionary using in

"Mercedes Maybach" in cars_Dubai

True

In [19]:
#practice finding keys

"Ferrari" in cars_Dubai

False

In [21]:
#to get all keys in the dictionary .keys()

cars_Dubai.keys()

dict_keys(['Lamborghini', 'Mercedes Maybach', 'Rolls Royce'])

In [23]:
#you can get values the same way .values()

cars_Dubai.values()

dict_values([2020, '2020', '2020'])

In [24]:
#lab questions

D={"a":0,"b":1,"c":2}

D.values()

dict_values([0, 1, 2])

In [25]:
D["b"]

1

In [30]:
#REWVIEW

#What is the syntax to obtain the first element of the tuple:
#first element is always 0

A=('a','b','c')
A[0]

'a'

In [31]:
#REVIEW

#After applying the following methond, L.append(['a','b'])
#The following list will only be one element longer
#TRUE

In [34]:
#REVIEW

Dict={"A":1,"B":2,"C":[3,3,3],"D":[4,4,4,],"E":5,"F":6}

print(Dict["D"])

[4, 4, 4]

In [35]:
#Condtions & Branching
#Coparsion Operators compare some value or operand
#after some condtions the produc a boolean (T/F)

a=6

a==7

False

In [36]:
a==6

True

In [38]:
i=6

i>5

True

In [39]:
i = 2
i > 6

False

In [40]:
#The inequalty set is used by ! before the = 
#practice

i=2

1!=6

True

In [41]:
#You can also compare strings

"AC/DC"=="AC/DC"

True

In [42]:
"AC/DC"=="Michael Jackson"

False

In [43]:
"AC/DC"!="Michal Jackson"

True

In [54]:
#Branching alows running different statments for different inputs
#IF statement
#If the statment is true, it will pass through
#If the statement is false, it will not go through

age=19

if(age>18):
    print("you can enter")
if(age<18):    
    print("move on")

you can enter

In [56]:
#The else statement will run another block of code

age = 17

if(age>18):
    print("you can enter")
else:
    print("go to the Meat loaf")

go to the Meat loaf

In [62]:
#practice

license = "L56A45"

if(license!= "L56A45"):
    print ("Access Denied")
else:
    print("Access Granted")

Access Granted

In [78]:
#elif statement is short for "else if"
#alows us to check for different condtions if false

age = 18

if(age>18):
    print("you can enter")
elif(age==18):
    print("go see Pink Floyed")
else:
    print("go see Meat Loaf")

print("move on")

go see Pink Floyed
move on

In [82]:
#Logic Operators
#Take boolean values and produce different boolean values 
#use or to produce different boolean values

album_year=1990

if(album_year<1980) or (album_year>1989):
    print("The Album was made in the 70s or 90s")
else:
    print("The Album was made in the 80s")

The Album was made in the 70s or 90s

In [83]:
#Logic Operator AND takes in 2 values and produces new boolean values

album_year = 1983

if(album_year>1979) and (album_year<1990):
    print("This album was made in the 80s")

This album was made in the 80s

In [90]:
#practice logic operator OR

car_year = 2010

if(car_year < 2014) or (car_year > 2008):
    print("This car most likely has HID Lights")
else:
    print("This car most likely very old or very new")

This car most likely has HID Lights

In [99]:
#practice logic operator AND

car_year = 2019

if(car_year>2018) and (car_year==2020):
    print("This is the best car around")
else:
    print("This is a shitty car")

This is a shitty car

In [4]:
#practice comparing

    
stock = 120

if (stock > 50) and (stock < 100):
    print("Alert: Buy this stock now!")
else:
    print ("Too risky")

Too risky

In [10]:
#practice tuples, lists, sets, dictionaries


#tuple practice
#create tuples for empolyee name, hours workded, money made ($)

em_1 = ("Sarah", 30, 250.34)
em_2 = ("Moe", 22, 201.45)
em_3 = ("Devin", 55, 700.76)

#confrim type of variable

print(type(em_1))
print(type(em_2))
print(type(em_3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [18]:
#practice finding indexes in tuples
#find index # for 250

print(em_1[2])

250.34

In [11]:
#lists practice
#create a list with employee full name, postion, how many years worked
#and employee satisfaction rate (rate 1-10, 10 being the best)

aai_em1 = ["Ahmed Mahmoud","CEO",6,9.5]
aai_em2 = ["Michael Jackson","Managing Director PE",1,9.0 ]
aai_em3 = ["Chirs Churchill","Managing Director IT",1, 9.0]
aai_em4 = ["Mike Ryan","International IR",1,9.0]

#confirm type of variable

print(type(aai_em1))
print(type(aai_em2))
print(type(aai_em3))
print(type(aai_em4))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [19]:
#practice finding indexs in lists

#find len of list aai_em2

len(aai_em2)

4

In [21]:
#change the name in aai_em2 and confrim change

aai_em2[0] = "Greg Gordon"

print(aai_em2)

['Greg Gordon', 'Managing Director PE', 1, 9.0]

In [27]:
#split Greg Gordon

"Greg Gordon".split()

['Greg', 'Gordon']

In [28]:
#find index number aai_em4

aai_em4.index("International IR")

1

In [31]:
#add another list to aai_em1

aai_boss = aai_em1 + ["Access Code", 2020]

#confrim addtion of list

print(aai_boss)

['Ahmed Mahmoud', 'CEO', 6, 9.5, 'Access Code', 2020]

In [36]:
#create perfect rolls royce combitnation using a set

phant_1 = {2020,"Phantom","EWB","Black","Red seats", "Shades", "Panaromic sunroof", "Black Wheels"}
phant_2 = {2020,"Phantom","Black","EWB","Panaromic sunroof", "Red Seats"}
phant_3 = {2020,"Phantom","Black","Panaromic sunroof", "Red Seats"}
phant_4 = {2020,"Phantom","Black","EWB","Panaromic sunroof","Red Seats"}

perfect_car = phant_1 & phant_2 & phant_3

print(perfect_car)

{'Panaromic sunroof', 'Black', 'Phantom', 2020}

In [37]:
#review test

i = 0

i!=0

False

In [38]:
i = -1

i!= 0

True

In [49]:
#Range Function (N)
#tuple(range())
#list(range())

#example

range(10,15)

range(10, 15)

In [58]:
#Loops perform a task over and over
#use list to represent boxes
#each element in the list is a string representing color
#change every color to white
#use .index to change colors = white

squares = ["red","yellow","green","purple","blue"]

for i in range(0,5):
    squares[0]="white"
    squares[1]="white"
    squares[2]="white"
    squares[3]="white"
    squares[4]="white"

print(squares)

['white', 'white', 'white', 'white', 'white']

In [60]:
#enumrate() can be used for iterating data
#can be used to obtain element & index # 

example = ["left", "right", "up", "down"]

for i, j in enumerate(example):
        print(i,j)

0 left
1 right
2 up
3 down

In [67]:
#enurmate into a dictionary

new_dict = dict(enumerate(example))

print(new_dict)

[print(i,j) for i,j in enumerate(new_dict)]

{0: 'left', 1: 'right', 2: 'up', 3: 'down'}
0 0
1 1
2 2
3 3

[None, None, None, None]

In [76]:
#while loops are only done when a certian condtion is met

squares=["orange","orange,""purple","orange"]

Newsquares=[]

i=0

while(squares[i]=="orange"):
    Newsquares.append(squares[i])
    
    i=i+1
    
print(Newsquares)

[]

In [78]:
#review question

x=3

y=1

while(y!=x):
    
    print(y)
    y= y+1

1
2

In [79]:
#review question

A=[3,4,5]

for a in A:
    
    print(a)

3
4
5

In [81]:
#Lab practice
#Use loops to print out elements in A

A=[1,2,3,4,5]

for i in range(0,6):
    
    A[0]=1
    A[1]=2
    A[2]=3
    A[3]=4
    A[4]=5

print(A)

[1, 2, 3, 4, 5]

In [83]:
#Lab practice
#Find the value of x that will print squence (1-10)

x=11

y=1

while(y<x):
    print(y)
    y=y+1

1
2
3
4
5
6
7
8
9
10

In [84]:
#Python functions
#functions takes on input then produces output
#functions is a pieace of code you use
#you can create functions but most of the time you will use someone elses

#type of fucntions:
#len() - produces length 
    #ex: L=len(album_ratings)

#sum() - produces sum of all elements
    #ex: S=sum(album_ratings)

#sorted() - genertes new sorted list seperate from album_ratings
    #ex: sorted_album_rating = sorted(album_ratings)

#sort() - sorts an exisiting list without creating a new list
    #ex: album_ratings.sort()

In [134]:
#Building your own function
#define a function by def

def add1(a):
    
    b=a+1
    
    return b

In [136]:
def f(a,b):

    return

a=6
b=2

if a*b==f(a,b):
    print("That is correct")
else:
    print("This is incorrect")

This is incorrect

In [141]:
def g(c):
    return

c = [1,2,3,4,5]

if sum(c)==g(c):
    print("That is correct")
else:
    print("That is incorrect")

That is incorrect

In [90]:
def Nowork():
    pass
print(Nowork())

None

In [91]:
def MJ():
    print("Michael Jackson")

MJ()

Michael Jackson

In [108]:

def printStuff(Stuff):
    
    for i,s in enumerate(Stuff):
        print("Album",i,"Rating is",s)

album_ratings= [10.0,8.5,9.5]  

printStuff(album_ratings)

Album 0 Rating is 10.0
Album 1 Rating is 8.5
Album 2 Rating is 9.5

In [111]:
#Varadic parameters allows to inputs a variable # of elements

def ArtistNames(*names):
    
    for name in names:
        
        print(name)

ArtistNames("Michael Jackson","AC/DC","Pink Floyed")

Michael Jackson
AC/DC
Pink Floyed

In [122]:
#Scope of a variable is defined outside any function
#are said to be outside global scope
#they can be accessed anywhere after they are defined


def addDC(y):
    y=x+"DC"
    print(x)
    return(x)

x="AC"
z=addDC(x)

AC

In [125]:
#Scope: Local Variables

def Thriller():
    Date=1982
    return Date

#the Global Variable rate is set at 2017

Date= 2017

#call the function

print(Thriller())
print(Date)

1982
2017

In [126]:
def ACDC(y):
    print(Rating)
    return(Rating+y)

Rating=9

Z=ACDC(1)

print(Rating)

9
9

In [133]:
def PinkFloyd():
    global ClamiedSales
    ClamiedSales = "45 million"
    return ClamiedSales

print(ClamiedSales)

45 million

In [144]:
#Quiz

a=1

def add(b):
    
    return a+b

c=add(10)

print(c)

11

In [145]:
def f(c):
    
    return sum(c)

In [150]:
#practice functions

# a and b calculation block1
 
a1 = 4
b1 = 5
c1 = a 1 + b1 + 2 * a1 * b1 - 1

if(c1 < 0):
    c1 = 0
else:
    c1 = 5

#call c1
c1

5

In [151]:
# a and b calculation block2

a2 = 0
b2 = 0
c2 = a2 + b2 + 2 * a2 *b2 - 1
if(c2 < 0):
    c2 = 0
else:
    c2 = 5
    
#call c2

c2

0

In [152]:
#Make a function for the calculation above

def Equation(a,b):
    c = a + b + 2 * a * b -1
    if(c < 0):
        c = 0
    else:
        c = 5
    return(c)

In [154]:
#test the function

a1 = 5
b1 = 10
c1 = Equation(a1,b1)

#call the function
c1

5

In [155]:
#test the function

a2 = 0
b2 = 0
c2 = Equation(a2,b2)

#call the function
c2

0

In [156]:
# if/else function examples

def type_of_album(artist, album, year_released):
    
    print(artist, album, year_released)
    if year_released > 1980:
        return "Modern"
    else:
        return "Oldie"
    
x = type_of_album("Michael Jackson", "Thriller", 1980)

print(x)

Michael Jackson Thriller 1980
Oldie

In [159]:
#loop function example

def printList(the_list):
    for element in the_list:
        print(element)

#confirm the printList function

printList(["1", 1,"the man","abc"])

1
1
the man
abc

In [161]:
#You can set a default argument for a function

#Eample for setting parameters with default calue

def isGoodRating(rating=4):
    if(rating<7):
        print("this album suck it's rating is", rating)
    else:
        print("this album is good it's rating is", rating)
        
isGoodRating()
isGoodRating(10)

this album suck it's rating is 4
this album is good it's rating is 10

In [167]:
#practice creating global variables

artist = "Michael Jackson"

def printer1(artist):
    internal_var = artist
    print(artist, "is an artist")
    
printer1(artist)

Michael Jackson is an artist

In [169]:
#creating a global variable within a function 
#use fucntion global

artist = "Michael Jackson"

def printer(artist):
    global internal_var
    internal_var = "Whitney Houston"
    print(artist,"is an artist")
    
printer(artist)
printer(internal_var)

Michael Jackson is an artist
Whitney Houston is an artist

In [171]:
#practice scopes of variables 
#example of a global variable

myFavoriteBand = "AC/DC" #global

def getBandRating(bandname):
    if bandname == myFavoriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:", getBandRating("Deep Purple"))
print("My favorite band is:", myFavoriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favorite band is: AC/DC

In [173]:
#example of a local variable

def getBandRating(bandname):
    myFavoriteBand ="AC/DC" #local
    if bandname == myFavoriteBand:
        return 10.0
    else:
        return 0.0
    
print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:", getBandRating("Deep Purple"))
print("My favorite band is:", myFavoriteBand)

AC/DC's rating is: 10.0
Deep Purple's rating is: 0.0
My favorite band is: AC/DC

In [174]:
#Example of a global and local variable with the same name

myFavoriteBand="AC/DC"

def getBandRating(bandname):
    myFavoriteBand = "Deep Purple"
    if bandname == myFavoriteBand:
        return 10.0
    else:
        return 0.0

print("AC/DC's rating is:", getBandRating("AC/DC"))
print("Deep Purple's rating is:", getBandRating("Deep Purple"))
print("My favorite band is:", myFavoriteBand)

AC/DC's rating is: 0.0
Deep Purple's rating is: 10.0
My favorite band is: AC/DC